<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AgilizaSus"
        tools:targetApi="31">
        <activity
            android:name=".TelaAgendamentos"
            android:exported="false"
            android:label="TelaAgendamentos"
            android:theme="@style/Theme.AgilizaSus" />
        <activity
            android:name=".TelaCadastro1"
            android:exported="false"
            android:label="TelaCadastro1"
            android:theme="@style/Theme.AgilizaSus" />
        <activity
            android:name=".TelaCadastro2"
            android:exported="false"
            android:label="TelaCadastro2"
            android:theme="@style/Theme.AgilizaSus" />

        <activity
            android:name=".TelaExames"
            android:exported="false"
            android:label="TelaExames"
            android:theme="@style/Theme.AgilizaSus" />
        <activity
            android:name=".TelaFilaVirtual2"
            android:exported="false"
            android:label="TelaFilaVirtual2"
            android:theme="@style/Theme.AgilizaSus" />
        <activity
            android:name=".TelaFilaVirtualPostos"
            android:exported="false"
            android:label="TelaFilaVirtualPostos"
            android:theme="@style/Theme.AgilizaSus" />
        <activity
            android:name=".TelaGuiasePedidos"
            android:exported="false"
            android:label="TelaGuiasePedidos"
            android:theme="@style/Theme.AgilizaSus" />
        <activity
            android:name=".TelaHistoricodeConsultas"
            android:exported="false"
            android:label="TelaHistoricodeConsultas"
            android:theme="@style/Theme.AgilizaSus" />
        <activity
            android:name=".TelaLogin"
            android:exported="false"
            android:label="TelaLogin"
            android:theme="@style/Theme.AgilizaSus" />
        <activity
            android:name=".TelaTelemedicina"
            android:exported="false"
            android:label="TelaTelemedicina"
            android:theme="@style/Theme.AgilizaSus" />
        <activity
            android:name=".TelaTelemedicinaConsulta"
            android:exported="false"
            android:label="TelaTelemedicinaConsulta"
            android:theme="@style/Theme.AgilizaSus" />
        <activity
            android:name=".TelaUnidadesProximas"
            android:exported="false"
            android:label="TelaUnidadesProximas"
            android:theme="@style/Theme.AgilizaSus" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.AgilizaSus"
            tools:ignore="RedundantLabel">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
    </application>

</manifest>